.box{
    border: 3px solid ;
}

.label-box{
    background-color: #fbd266;
}

.input-area{
    display: flex;
    justify-content: space-evenly;
}
.bill-Type-box{
    display: flex;
    justify-content:space-around;
}