.AdminHead {
    margin: auto;
    height: auto;
    padding: 30px;
    background-color: #FF934F;
    margin: auto;
    width: 100%;
    /* max-width: 95%; */
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.admin-button{ 
    margin-right:0.5rem;
    padding-top: 5px;
}



